.site-content .post-card .post-title {
     min-height: 0px; 
}

.post-card .post-title a:hover {
     color: #ce1126;
}

.post-card .post-thumbnail {
	margin-left: -20px; 
	margin-right: -20px; 
	margin-top: -20px; 
}

#header {
	background-color: black;	
}

#header .navbar {
	background-color: black;
}

#header .nav > ul > li > a,  
#header .nav > ul > li > ul > li a {
	color: white;
}

#header .nav > ul > li > a:hover, 
#header .nav > ul > li > ul > li a:hover {
	color: #999;
}


.post-categories > li {
	background-color: red;
}

.catlink a:hover {
	color: #ce1126;
	background-color: #f9f9f9;
	padding: 2px;
}

.header-post-cat {
    position: absolute;
    bottom: 38px;
    left: 32px;
    font-weight: 500;
}

.header-post-cat-name {
	color: white; 
	/*padding:2px; */
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px; 
	background-color: #e9594a;
}

.header-post-cat-name a:hover {
	color: white; 
}

.header-post-cat-name:hover {
		background-color: #dd3333;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .post-card .post-thumbnail {
		margin-left: 0px; 
		margin-right: 0px; 
		margin-top: 0px; 
	}
}